<!DOCTYPE html>

<html>
<head>
	<title>gruper-main</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/gruper.css" rel="stylesheet">

</head>

<body
	<div class="container">
		<div class="jumbotron">
			<p class="gruper">gruper</p>
			<a href="/login" ><p style="color:#00ffdd" align="right" class = "u_name" id = "username">temp Text</p> </a>
		</div>

		<div class="container-fluid">
  			<h3>Events</h3>
			<a href="/" class="btn btn-info btn-large" id = "joined_back"><i class="icon-white icon-chevron-left"></i>Back</a><br>
	
			<h3>Events you created</h3>
    		<div class ="events_hosted"></div>

			<h3>Events you have joined</h3> 
			<div class ="events_joined"></div>	
		</div>
	</div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/gruperScript.js"></script>
  <script src="js/gruperMaps.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
</body>
</html>