/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h2, h3, h4, h5 {
	color: #003366;
}

h1, h3 {
  text-align: center;
}

div.friend {
	width: 300px;
}

.jumbotron {
height: 40px;
padding-top: 0;
padding-bottom: 0;
background-color: #003366;
color: white;
}

.gruper {
  float:left;
  color: white;
}

.u_name p{
  float:right;
}

.searchError{
  color:red;
}

.u_name {
  color: #003366;
}

.alignleft {
  float: left;
  width:33.33333%;
  text-align:left;
}
.aligncenter {
  float: left;
  width:33.33333%;
  text-align:center;
}
.alignright {
 float: left;
 width:33.33333%;
 text-align:right;
}​

.thumbnail {
  margin-top: 20px;
  width: 1500px;
}

#joined_back {
  margin-left: 15px;
}

#login_back {
  margin-left: 15px;
}

#loginModal{
  margin-right: 0px;
}

.info_one, .info_two, .info_three, .info_four, .info_five, .info_six{
  display: inline-block;
}

#location, #description, #date1, #hrs1, #minute1, #ampm1, #hrs2, #minute2, #ampm2, #capacity{
  display: inline;
}

